<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Servlet</servlet-name>
        <servlet-class>controllers.AccountSignIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet1</servlet-name>
        <servlet-class>controllers.AccountSignUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet2</servlet-name>
        <servlet-class>controllers.Index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet3</servlet-name>
        <servlet-class>controllers.Categories</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet4</servlet-name>
        <servlet-class>controllers.Detail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet5</servlet-name>
        <servlet-class>controllers.ForgotPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet6</servlet-name>
        <servlet-class>controllers.Profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet7</servlet-name>
        <servlet-class>controllers.OrderList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet8</servlet-name>
        <servlet-class>controllers.UpdateProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet9</servlet-name>
        <servlet-class>controllers.Cart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet10</servlet-name>
        <servlet-class>controllers.SearchProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet11</servlet-name>
        <servlet-class>controllers.OrderCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet12</servlet-name>
        <servlet-class>controllers.Dashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet13</servlet-name>
        <servlet-class>controllers.ManageOrders</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet</servlet-name>
        <url-pattern>/account/signin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet1</servlet-name>
        <url-pattern>/account/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet2</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet3</servlet-name>
        <url-pattern>/category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet4</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet5</servlet-name>
        <url-pattern>/account/forgot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet6</servlet-name>
        <url-pattern>/account/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet7</servlet-name>
        <url-pattern>/account/orders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet8</servlet-name>
        <url-pattern>/account/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet10</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet11</servlet-name>
        <url-pattern>/order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet9</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet12</servlet-name>
        <url-pattern>/admin/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet13</servlet-name>
        <url-pattern>/admin/orders</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <dependencies/>
</web-app>
